# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
Makefile
compile/.deps/
compile/Makefile
config.h
config.log
config.status
stamp-h1

*.o
.deps

#binary file

compile/OniboConverter2

#eclipse
.cproject
.project
.settings

#xml
./container_settings.xml
./encoders_table.xml
./gui_settings.xml

